name: Prod deploy

on:
    push:
        branches: ['main']

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Configure SSH
              uses: webfactory/ssh-agent@v0.9.0
              with:
                  ssh-private-key: ${{ secrets.EC2_KEY }}

            - name: Deploy via SSH
              run: ssh -o StrictHostKeyChecking=no \
                  ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
                  "bash /var/www/stocktracker/deploy.sh"
